*.pyc
*.tar.gz
.idea/
db.sqlite3
migrations/
node_modules/
/logs/*
/.vscode/
sysom_api/.idea/
sysom_api/.vscode/
sysom_api/db.sqlite3
sysom_api/logs/
*/migrations/*
*/src/.umi/*
*/src/.umi-production/
dist/
sysom_api/uploads/*
sysom_api/doc/*
sysom_api/conf/develop.py
sysom_api/sysom/settings.py
venv/
sysomRelease*/
sysom_api/conf/ssh-key
.env
