.blue{
    width: 20px;
height: 20px;
background: blue;
border-radius: 50%;
margin-left: 55px;

}
.red{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    margin-left: 55px;
}
.numbersuccess{
    color: palegreen;
}
.numbererr{
    color: red
}
.list-table{
    margin-top: 20px;
}
.ant-table-pagination.ant-pagination{
    margin-top: 30px;
}
