.list-table{
    margin-top: 20px
}
.blue{
    width: 20px;
height: 20px;
background: blue;
}
.tan{
   position: relative;
   top:40vh;
   width: 200px;

}
// .waring{
//     width: 25px;
//     height: 25px;
//     background-image: url(../../../../public/icons/waring.png);
//     background-repeat:no-repeat;
    
// }
.ant-modal-body{

    p{
        display: flex;
        justify-content: center;
        letter-spacing:3px;
       margin-top: 30px;

    }
  
}